//variables
$light-yellow: #f6d365;
$light-pink: #fd6864;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 20px 20px;
  color: black;
  background-image: linear-gradient(50deg, $light-yellow, $light-pink);
  font-family: "Roboto Slab", serif;
  min-height: 100vh;
}

h1 {
  margin-top: 110px;
  position: center;
  text-align: center;
}

.formHeading {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.infoBox {
  @extend .formHeading; //to inherit the properties of one class to another
  margin-top: 20px;
  outline: none;
}

//for input box and square icon
form button,
form input {
  padding: 5px 5px;
  background: white;
  color: black;
  cursor: pointer;
  font-size: 0.9em;
}

form button {
  color: $light-pink;
}

form button:hover {
  color: white;
  background: $light-pink;
  border: $light-pink;
  transition: all 0.3s ease-in;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 450px;
  width: 30%;
}

//ul
.to-do-list {
  list-style: none;
  min-width: 85%; //it is 70% of the container
}

//li
.to-do-task {
  display: flex;
  justify-content: space-between; // provide space between the content
  align-items: center;
  margin-top: 10px;
  background-color: white;
  font-size: 1.2em;
  transition: all 0.7s ease; // animation on completed task
}

.to-do-list li {
  flex: 1; // move the icon on one side.
}

.check-button,
.trash-button {
  color: $light-pink;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5em;
  border: none;
  transition: all 0.3s ease-in; // animation on check and trash buttton
}

.btn-class,
.to-do-Input {
  border: none;
}
.check-button {
  color: green;
}

.trash-button:hover {
  color: white;
  background: $light-pink;
  transition: all 0.3s ease-in;
}
.check-button:hover {
  color: white;
  background: green;
  transition: all 0.3s ease-in;
}

.fa-check-square,
.fa-trash-alt,
.fa-plus-square {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.4;
}
.animateBeforeFall {
  transform: translateX(8rem);
  opacity: 0;
  transition: all 0.5s ease-out;
}
